.table-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.styled-table {
    border-radius: 10px 10px 0 0;
    border-collapse: separate;
    border-spacing: 0;
    border-bottom: 2px solid rgb(63, 156, 149);
    width: 450px;
    font-size: 0.9rem;
    box-shadow: 0 0 20px rgba(0,0,0, 0.15);
    overflow: hidden
}

.checkbox {
    transform: scale(1.5)
}

.thumbnail-wrapper {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
}

.thumbnail {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
}

.styled-table thead {
    color: #fff;
    background-color: rgb(63, 156, 149);
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.check {
    padding: 12px 22px;
}

.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
    background-color: #fff;
}

.styled-table tbody {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
    /* font-weight: bold; */
    background-color: rgb(63, 156, 149);

}