ul {
  list-style: none;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.data-wrapper {
  max-width: 1200px;
  display: grid;
  margin: auto;
  grid-template-columns: 450px auto;
  gap: 20px;
}