ul {
  list-style: none;
}

.App {
  text-align: center;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.data-wrapper {
  max-width: 1210px;
  display: grid;
  margin: auto;
}