.header-wrapper {
    background-color: #403233;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    max-width: 1210px;
    margin: auto;
}

.heading-text {
    font-size: 1.5rem;
    color: white;
}